body{
margin:0;
background:#0f0f0f;
color:white;
font-family:Arial;
}


.menu{
background:#111;
padding:10px;
display:flex;
justify-content:space-between;
align-items:center;
}
.menu nav a{
color:white;
text-decoration:none;
margin-right:12px;
}


/* Banner y carrusel */
.banner{
padding:20px;
text-align:center;
}
.carrusel{
width:90%;
max-width:700px;
margin:auto;
overflow:hidden;
border-radius:10px;
}
.slides{
display:flex;
width:300%;
animation:carousel 12s infinite;
}
.slides img{
width:100%;
}


@keyframes carousel{
0%{transform:translateX(0);}
33%{transform:translateX(-100%);}
66%{transform:translateX(-200%);}
100%{transform:translateX(0);}
}


/* Tarjetas */
.grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(150px,1fr));
gap:15px;
padding:20px;
}
