body {
  background: #0b0b0b;
  font-family: Arial, sans-serif;
}

/* GRID */
.personajes {
  padding: 40px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 25px;
}

/* CARD */
.card {
  background: #111;
  border-radius: 14px;
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.card:hover {
  transform: scale(1.05);
}

.card img {
  width: 100%;
  height: 260px;
  object-fit: cover;
}

.card p {
  color: white;
  text-align: center;
  padding: 10px;
  font-weight: bold;
}

/* MODAL */
.modal {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.9);
  display: none;
  justify-content: center;
  align-items: center;
}

.modal.activo {
  display: flex;
}

.modal-contenido {
  text-align: center;
  animation: zoom 0.4s ease;
}

.modal-contenido img {
  max-width: 80%;
  max-height: 70vh;
  border-radius: 15px;
}

.modal-contenido h2 {
  color: white;
  margin-top: 15px;
}

@keyframes zoom {
  from {
    transform: scale(0.6);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 30px;   /* menos padding para que no se corte */
  box-sizing: border-box;

  background: rgba(0, 0, 0, 0.9);
  backdrop-filter: blur(6px);
  z-index: 1000;
}

/* LOGO */
.logo {
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 2px;
  white-space: nowrap; /* evita que se corte */
}

/* LISTA */
.menu ul {
  list-style: none;
  display: flex;
  gap: 25px;
  margin: 0;
  padding: 0;
  white-space: nowrap; /* CLAVE */
}

/* LINKS */
.menu ul li a {
  color: white;
  text-decoration: none;
  font-size: 15px;
  font-weight: 500;

  padding: 6px 12px;
  border-radius: 20px;

  transition: background 0.3s ease, col
}
