*{box-sizing: border-box;
margin: 0;
padding: 0;
font-family: Arial, Helvetica, sans-serif;}

header{
    width: 100%;
    height: 100vh;
    background-color: rgb(12, 12, 12);
    color: bisque;
    text-align: center;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}



h1{
   font-size: 50px;
   margin-bottom: ;

    
}
button{
    background-color: rgba(11, 204, 230, 0.158);
    border: 2px solid;
    padding: 10px 50px;
    border-radius: 10px;
    font-size: 16px;
    margin-top: 10px;
    color: aqua;

}
